@import "variables";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid";

.events-wrapper {
    margin-bottom: 40px;
    @media (min-width: 992px) {
        margin-top: 20px;
    }

    .events-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 10px;

        @media (min-width: 992px) {
            padding-top: 0px;
        }

        .event-card {
            width: 100%;
            padding: 10px;
            text-align: left;
            align-items: center;
            overflow: hidden;
            margin: 10px;

            &:first-child {
                margin-top: 20px;
            }

            &:last-child {
                margin-bottom: 20px;
            }

            @media (min-width: 321px) {
                border: none;
                margin: 20px;
                width: 200px;
            }

            .image-wrapper {
                margin: 0 -10px 10px -10px;
                height: 130px;
                background: $mediumgray;
                overflow: hidden;
                position: relative;

                img {
                    width: 100%;
                    position: absolute;
                    top: -100%;
                    left: 0;
                    right: 0;
                    bottom: -100%;
                    margin: auto;
                    width: 100%;
                }
            }

            .event-type {
                text-transform: uppercase;
                font-weight: 600;
                color: $orange;
            }

            .hr-text {
                line-height: 1em;
                text-transform: uppercase;
                font-weight: 600;
                position: relative;
                outline: 0;
                border: 0;
                text-align: left;
                height: 1.5em;
                margin-right: -10px;
                &:before {
                    content: "";
                    background: #c8c5af;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 100%;
                    height: 1px;
                }
                &:after {
                    content: attr(data-content);
                    position: relative;
                    display: inline-block;
                    color: orange;
                    padding: 0 1em 0 0;
                    line-height: 1.5em;
                    background-color: #fcfcfa;
                }
            }

            h3 {
                font-size: 12pt;
            }
        }

        .pagination-wrapper {
            display: flex;
            width: 100%;
            justify-content: center;
            margin: auto;

            .pages-counter {
                margin: auto 20px;
            }
        }

        .alert-info {
            height: 45px;
            margin: auto;
        }
    }

    .events-filter {
        padding: 0 20px;
        flex-basis: auto;
        background-color: $mediumgray;

        @media (min-width: 992px) {
            background-color: $mediumgray;
            max-height: 440px;
            max-width: 270px;
            margin-top: 50px;
        }

        hr {
            margin: 10px 0;

            @media (min-width: 992px) {
                margin: 1rem 0;
            }
        }

        .filter-header {

            @media (min-width: 992px) {
                height: 20px;
            }
        }

        .btn-filter {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 9;

            @media (min-width: 992px) {
                display: none;
            }
        }

        .event-filter-form {
            margin: 20px 0;

            @media (min-width: 992px) {
                display: block;
            }

            .search-container {
                max-width: 220px;

                @media (min-width: 992px) {
                    width: 100%;
                }

                .search-input-field {
                    box-shadow: none;
                    border-color: $bordergray;
                    border-right: none;
                }

                .fa-search {
                    color: $green;
                }

                .btn-outline-secondary {
                    background-color: #fff;
                    border: 1px solid #ced4da;
                    border-left: none;
                    box-shadow: none;
                }
            }

            .checkboxes-wrapper {
                display: flex;
                flex-wrap: wrap;

                @media (min-width: 992px) {
                    flex-direction: column;
                }

                .checkbox-container {
                    display: flex;
                    margin: 5px;
                    padding: 5px;
                    border: 1px solid $bordergray;
                    border-radius: 8px;
                    align-items: center;

                    @media (min-width: 992px) {
                        padding: 0;
                        border: none;
                    }

                    input[type="checkbox"] {
                        position: relative;
                        width: 1.5em;
                        height: 1.5em;
                        color: $black;
                        background-color: $white;
                        border: 1px solid $gray;
                        border-radius: 4px;
                        appearance: none;
                        outline: 0;
                        cursor: pointer;
                        transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
                        &::before {
                            position: absolute;
                            content: "";
                            display: block;
                            top: 1px;
                            left: 6px;
                            width: 8px;
                            height: 14px;
                            border-style: solid;
                            border-color: $white;
                            border-width: 0 3px 3px 0;
                            transform: rotate(45deg);
                            opacity: 0;
                        }
                        &:checked {
                            color: $white;
                            border-color: $green;
                            background: $green;
                            &::before {
                                opacity: 1;
                            }
                            ~ label::before {
                                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                            }
                        }
                    }

                    label {
                        position: relative;
                        padding: 0 0 0 5px;
                        margin: 0;

                        user-select: none;

                        @media (min-width: 992px) {
                            padding: 0 0.8em 0;
                        }
                    }
                }
            }

            .date-container {
                max-width: 280px;

                @media (min-width: 992px) {
                    width: 100%;
                }

                .daterange {
                    border-right: none;
                    box-shadow: none;
                    border-color: $bordergray;
                    padding-right: 0;
                }

                .fa-calendar-alt {
                    color: $green;
                }

                .btn-outline-secondary {
                    background-color: #fff;
                    border: 1px solid #ced4da;
                    border-left: none;
                    box-shadow: none;
                }
            }
        }
    }
}

.daterangepicker {

    .applyBtn {
        color: $white;
        border-color: $teal;
        background-color: $teal;

        &:hover {
            color: $teal;
            background-color: $white;
        }
    }

    .cancelBtn {
        color: $red;
        border-color: $red;

        &:hover {
            color: $white;
            background-color: $red;
        }
    }

    td.active {
        background-color: $teal;
    }

    .drp-selected {
        padding-right: 0;

        @media (min-width: 768px) {
            padding-right: 10px;
        }
    }
}
